<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    0421 안녕하세요{{title}}

    <form method="post"  action="join">
        <input type="text" name="userid" placeholder="아이디">
        <input type="password" name="userpw" placeholder="패스워드">
        <input type="text" name="username" placeholder="이름">
        <input type="submit" value="회원가입">
    </form>
    <!--
        폼태그 만들어서
        localhost:3000/join
        userid
        userpw
        username 넘겨주기
        console.log()찍어보기

    -->
</body>
</html>